*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
   background-image:url(3.jpg);
    background-size: cover;
    height: 700px;
 
}


.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}



.menu{
    width: 300px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 40px;
    margin-top: 27px;
    font-size: 14px;
    
}

ul li a{
    text-decoration: solid rgb(144, 39, 39);
    color: #100f0f;
    font-family: Arial;
    font-weight: bold;
    transition: 0.7s ease-in-out;
   word-spacing: 0cap;
}

ul li a:hover{
    color: #ff7200;
}







.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #0f0e0e;
    position: relative;
}



.content h1{
    font-family: 'Times New Roman';
    font-size: 150px;
    padding-left: 100px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    padding-left: 350px;
    letter-spacing: 2px;
}


.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #ffffff;
}

.content span{
    color: #ff7200;
    font-size: 65px
}




::placeholder{
    color: #2b2929;
    font-family: Arial;
}


.icons a{
    text-decoration: none;
    color: #ffffff;
}
.icons ion-icon{
    color: #0c0c0c;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #ff7200;
}
.culmain{
    width: 100%;
   background-image:url(6.jpg);
    background-size: cover;
    height: 500px;
 
}


.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.content2{
    width: 1200px;
    height: auto;
    margin: auto;
    color: (Edge 12, Firefox 1, Safari 1, Chrome 1, IE 3, Opera 3);
    position: relative;}

.content2 h1{
    font-family: monospace; 
    font-size: 200px;
    padding-left: 200px;
    letter-spacing: 2px;
}    
.content p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    padding-left: 350px;
    letter-spacing: 2px;
} 
.content2 .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content2 .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}
.main3{
    width: 95%;
   background-image:url(15.jpg);
    background-size: cover;
    height: 600px;
 
}


.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.content3{
    width: 1200px;
    height: auto;
    margin: auto;
    color: (Edge 12, Firefox 1, Safari 1, Chrome 1, IE 3, Opera 3);
    position: relative;}

.content3 h1{
    font-family: monospace; 
    font-size: 100px;
    padding-left: 200px;
    letter-spacing: 2px;
}     
.content p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    padding-left: 350px;
    letter-spacing: 2px;
}
.content3 .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content3 .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}
.main4{
    width: 100%;
   background-image:url(18.jpg);
    background-size: cover;
    height: 500px;
 
}


.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.content4{
    width: 1200px;
    height: auto;
    margin: auto;
    color: rgb(17, 16, 16);
    position: relative;}

.content4 h1{
    font-family: monospace; 
    font-size: 100px;
    padding-left: 200px;
    letter-spacing: 2px;
    color: #ffffff;
}     
.content p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    padding-left: 350px;
    letter-spacing: 2px;
}
.content4 .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content4 .cn a{
    text-decoration: none;
    color: #111111;
    transition: .3s ease;
}

.main5{
    width: 100%;
   background-image:url(19.jpg);
    background-size: cover;
    height: 500px;
 
}


.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.content5{
    width: 1200px;
    height: auto;
    margin: auto;
    color: rgb(15, 15, 15);
    position: relative;}

.content5 h1{
    font-family: monospace; 
    font-size: 100px;
    padding-left: 200px;
    letter-spacing: 2px;
    color: #ffffff;
}     
.content p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    padding-left: 350px;
    letter-spacing: 2px;
}
.content5 .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content5 .cn a{
    text-decoration: none;
    color: #111111;
    transition: .3s ease;
}
.main6{
    width: 100%;
   background-image:url(20.jpg);
    background-size: cover;
    height: 600px;
 
}


.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.content6{
    width: 1200px;
    height: auto;
    margin: auto;
    color: rgb(15, 15, 15);
    position: relative;}

.content6 h1{
    font-family: monospace; 
    font-size: 100px;
    padding-left: 400px;
    letter-spacing: 2px;
    color: #ffffff;
}     
.content p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    padding-left: 350px;
    letter-spacing: 2px;
}
.content6 .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content6 .cn a{
    text-decoration: none;
    color: #111111;
    transition: .3s ease;
}
.main7{
    width: 100%;
   background-image:url(21.jpg);
    background-size: cover;
    height: 600px;
 
}


.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.content7{
    width: 1200px;
    height: auto;
    margin: auto;
    color: rgb(15, 15, 15);
    position: relative;}

.content7 h1{
    font-family: monospace; 
    font-size: 100px;
    padding-left: 600px;
    letter-spacing: 2px;
    color: #0c0c0c;
}     
.content p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    padding-left: 350px;
    letter-spacing: 2px;
}
.content6 .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content7 .cn a{
    text-decoration: none;
    color: #111111;
    transition: .3s ease;
}